
.col-desk-mobile-440 {
  width: 440px;
}

.col-desk-mobile-666 {
  width: 666px;
}

  .responsive-padding{
    padding-right: 43px;
    padding-left: 43px;
  }

.cost-table{
  width: 50%;
  @include mobile{
    width: 100%;
  }
}
@media (max-width: 768px) {
  .col-desk-mobile-440,
  .col-desk-mobile-666 {
    width: 100%;
  }
  .table-responsive table{
    width: 100%;
  }
 
    .responsive-padding{
      padding-right: 0px;
      padding-left: 0px;
    }
  
}

.affordability_calculator label{
    color: #4B4F72 !important;
}
.affordability_calculator .col-md-4 .text-muted{
    color: #999999 !important;
    font-size: 13px;
}
.col-desk-mobile-440{
  .input-group {
    .form-control {
      border-radius: 0.4rem 0 0 0.4rem; 
      box-shadow: none; 
    }
  
    .input-group-text {
      border-left: none; 
      border-radius: 0 0.4rem 0.4rem 0; 
      background-color: transparent;
      padding-left: 10px; 
      padding-right: 10px; 
      color: #e2e2e2;
    }
  
    input {
      border-right: none; 
    }
  }
}

.card-custom {
    border-radius: 12px;
    padding: 0;
    margin: auto;
    border: none !important;
}
.currency-symbol {
    font-size: 60px;
    font-weight: bold;
    color: #333333;
}
.currency-dash{
    color: #cccccc;
}
.comportable {
  color: #767676;
}

//range slider
input[type="range"].styled-slider {
  height: 32px;
  width: 100%;
  -webkit-appearance: none; /* WebKit */
  -moz-appearance: none;    /* Firefox */
  appearance: none;         /* Standard */
}

/*progress support*/
input[type="range"].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 33px + var(--ratio) * (100% - 33px));
}

/* WebKit styles (Chrome, Safari) */
input[type="range"].styled-slider::-webkit-slider-thumb {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-image: linear-gradient(to right, #fff, #fff),
    linear-gradient(#fff, #fff);
  background-attachment: fixed, fixed;
  background-clip: padding-box, border-box;
  border: 2px solid #65C0CF;
  box-shadow: 0 0 0 1.5px #e1e0e0, 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  margin-top: calc(14px * 0.5 - max(25px * 0.5, 10px));
  -webkit-appearance: none;
  transform: translateY(-5px);
}

input[type="range"].styled-slider::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 150px;
  width: 100%;
  border: none;
  transform: translateX(3px);
}

input[type="range"].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #28C937, #28C937) 0 / var(--sx) 100% no-repeat,
    linear-gradient(to right, #FFB92E, #FF8C4B, #FF2000);
}

/* Mozilla (Firefox) styles */
input[type="range"].styled-slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-image: linear-gradient(to right, #fff, #fff),
    linear-gradient(#fff, #fff);
  background-attachment: fixed, fixed;
  background-clip: padding-box, border-box;
  border: 2px solid #65C0CF;
  box-shadow: 0 0 0 1.5px #e1e0e0, 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-5px);
  -moz-appearance: none;
}

input[type="range"].styled-slider::-moz-range-track {
  height: 8px;
  border-radius: 150px;
  width: 100%;
  border: none;
  transform: translateX(3px);
}

input[type="range"].styled-slider.slider-progress::-moz-range-track {
  background: linear-gradient(to right, #28C937, #28C937) 0 / var(--sx) 100% no-repeat,
    linear-gradient(to right, #FFB92E, #FF8C4B, #FF2000);
}

/* Microsoft Edge styles */
input[type="range"].styled-slider::-ms-thumb {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-image: linear-gradient(to right, #fff, #fff),
    linear-gradient(#fff, #fff);
  background-attachment: fixed, fixed;
  background-clip: padding-box, border-box;
  border: 2px solid #65C0CF;
  box-shadow: 0 0 0 1.5px #e1e0e0, 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-5px);
  -ms-appearance: none;
}

input[type="range"].styled-slider::-ms-track {
  height: 8px;
  border-radius: 150px;
  width: 100%;
  border: none;
  transform: translateX(3px);
}

input[type="range"].styled-slider.slider-progress::-ms-fill-lower {
  background: linear-gradient(to right, #28C937, #28C937) 0 / var(--sx) 100% no-repeat,
    linear-gradient(to right, #FFB92E, #FF8C4B, #FF2000);
}

input[type="range"].styled-slider.slider-progress::-ms-fill-upper {
  background: linear-gradient(to right, #FFB92E, #FF8C4B, #FF2000);
}
