.ads-type {
    display: inline-block;
    position: relative;
    border-radius: 9px;
    border: 1px solid #DDDDDD;
    padding: 20px 40px;
    cursor: pointer;
    width: auto;
    text-align: center;
    transition: border-color 0.3s, background-color 0.3s;

    label {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    input[type="radio"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    img {
        display: block;
        margin: 0 auto 10px;
        height: 30px;
        width: 35px;
    }

    p {
        color: #222222;
        font-size: 18px;
        transition: color 0.3s;
    }

    &:hover {
        border-color: #0047FF;
        background-color: #f0f8ff;
    }

    &.selected {
        border-color: #0047FF;
        background-color: #0047FF;

        p {
            color: #ffffff; 
        }

        img {
            filter: brightness(0) invert(1); 
        }
    }
}
