.ads-type {
    display: inline-block;
    position: relative;
    border-radius: 9px;
    border: 1px solid #DDDDDD;
    padding: 20px 40px;
    cursor: pointer;
    width: auto;
    text-align: center;
    transition: border-color 0.3s, background-color 0.3s;

    label {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    input[type="radio"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    img {
        display: block;
        margin: 0 auto 10px;
        height: 30px;
        width: 35px;
    }

    p {
        color: #222222;
        font-size: 18px;
        transition: color 0.3s;
    }

    &:hover {
        border-color: #0047FF;
        background-color: #f0f8ff;
    }

    &.selected {
        border-color: #0047FF;
        background-color: #0047FF;

        p {
            color: #ffffff;
        }

        img {
            filter: brightness(0) invert(1);
        }
    }
}

.form-check-input[type=checkbox] {
    border-radius: 3px !important;
}

.property-details {
    .btn-group {
        .btn {
            &.btn-outline-dark {
                color: #363636;
                border-color: #E2E8F0;
                background-color: transparent;

                &:hover {
                    background-color: #F5F5F5;
                    color: #0047FF;
                }
            }
        }

        input[type="radio"]:checked+label {
            background-color: #F5F5F5;
            color: #0047FF;
            border-color: #0047FF;
        }

        input[type="radio"] {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
    }
}

.additional-property-details {
    .btn-check {
        border-color: #E2E8F0 !important;
        color: rgba(29, 35, 78) !important;
    }

    .btn-check:checked+.btn {
        border-color: #0047FF !important;
        background-color: #0047FF !important;
        color: #ffffff !important;

        img {
            filter: brightness(0) invert(1);
        }
    }

    .btn-outline-dark {
        border: 1px solid #E2E8F0;

        img {
            width: 15px;
            height: 20px;
            margin-right: 15px;
        }
    }

    .btn-outline-dark:hover {
        border: 1px solid #0047FF;

        background-color: #0047FF !important;
        color: #ffffff !important;

        img {
            filter: brightness(0) invert(1);
        }
    }
}

.upload-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    height: 300px;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

    &:hover {
        border-color: #1f2a57;
    }

    .dz-preview {
        display: inline-block;
        margin: 10px;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        width: 100px;
        height: 100px;
        position: relative;
    }

    /* Image or Video Preview Thumbnail */
    .dz-preview img,
    .dz-preview video {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
    }

    .dz-preview .dz-remove {
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: #ff4b4b;
        color: white;
        border: none;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    .dz-preview .dz-remove:hover {
        background-color: #ff2d2d;
    }

    .dz-preview .dz-progress {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 5px;
        width: 0;
        background-color: #4CAF50;
        border-radius: 0 0 5px 5px;
        transition: width 0.4s ease;
    }

    .upload-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        .icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #1f2a57;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            color: white;
            font-size: 24px;
            margin-bottom: 15px;
        }

        p {
            font-size: 16px;
            color: #333;
            margin: 0;
        }

        .file-input {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }

    .delete-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #333;
        font-size: 18px;
        cursor: pointer;

        &:hover {
            color: #ff0000;
        }
    }
}

.label-style {
    color: rgba(29, 35, 78, 0.8) !important;
}

.payments-dates-more {
    .form-label {
        color: #1D234E !important;
        margin-bottom: 18px !important;
        font-size: 18px !important;
    }

    .input-group-text {
        background-color: #E2E8F0 !important;
    }
}
