.property-publish {
    
    .step-title {
        font-size: 20px;
        color: #1D234E;
        font-family: 'Aeonik';
        font-weight: 300;

        span,strong{
            text-decoration: underline;
        }
    }
    .step-form{
    

        .form-group{
            margin-top: 50px;
        }
    }
}
