.property-publish {
    
    .step-title {
        font-size: 20px;
        color: #1D234E;
        font-family: 'Aeonik';
        font-weight: 300;

        span,strong{
            text-decoration: underline;
        }
    }
    .step-form{
    

        .form-group{
            margin-top: 50px;
        }
    }

    // .step-footer{
    //     position: absolute;
    //     width: 90%;
    //     bottom: 20px;
    // }


    
}

#upload-photos-and-videos{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}
.dz-image{
    img{
        object-fit: cover;
        height: 300px !important;
        width: 350px !important;
    }
   
}